---
title: Développeuse freelance de beaux et bons sites web
bodyclass: homepage
meta-description: Freelance développement web PHP, Ruby on Rails et audit qualité VPTCS à Lyon.
---

<div class="row">
    <div class="col-sm-4 col-12">
        <p><img src="/assets/img/agnes.jpg" alt="Agnès Haasser"></p>
    </div>
    <div class="col-sm-8 col-12">
        <p>Je suis développeuse web depuis plus de dix ans, spécialisée en e-commerce et en applications web complexes.</p>
        <p>Je suis polyvalente : je maîtrise et j'aime développer dans toute la pile technique, depuis les problèmes épineux de CSS jusqu'aux optimisations de requêtes SQL. J'ai le souci du détail et de la performance, tout en restant pragmatique. Je porte une grande attention à la qualité du code et de l'expérience utilisateur (d'où ma <a href="https://directory.opquast.com/fr/certificat/1GTC5H/">certification Opquast</a>).</p>
        
        {% include cta.html %}
    </div>
</div>

<h2>Ce que je vous propose</h2>

<div class="row services">
    <div class="col-sm-6 col-12">
        <h3>Développement web</h3>
        <a href="/developpement.html" title="Voir plus d’infos sur mes services en développement"><div class="img-container">
            <img src="/assets/img/undraw_pair_programming_njlp.svg" alt="" height="200">
        </div></a>
        <p>Je prends en charge vos besoins en développement Web, en veillant à la qualité du code et de l'UX.</p>
    </div>
    <div class="col-sm-6 col-12">
        <h3>Conseil en qualité web</h3>
        <a href="/qualite-web.html" title="En savoir plus sur la qualité web"><div class="img-container">
            <img src="/assets/img/undraw_file_analysis_8k9b.svg" alt="" height="200">
        </div></a>
        <p>Besoin d'un audit de votre site, de consolider vos documents de projet, de formation… Je suis là !</p>
    </div>
</div>

{% include cta.html %}
